* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #edf2f7;
}

.container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  /* Делаем Flex-контейнет многострочным */
  flex-wrap: wrap;
  /* Компенсируем маржины элементов */
  margin-left: -10px;
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

.item {
  padding: 10px;
  /* Задаём всем элементам маржины слева и сверху */
  margin-left: 10px;
  margin-top: 10px;
  /*  Задаём ширину элементов  */
  flex-basis: calc((100% - 30px) / 3);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item h2 {
  margin-top: 0;
  font-size: 20px;
}

.item p {
  margin: 0;
}
